crewai~=0.119.0
crewai[tools]
beautifulsoup4~=4.13.4
embedchain
posthog
langchain
langchain-community~=0.3.24
argparse~=1.4.0
langchain-ibm
requests~=2.32.2
ibm-cos-sdk-core
instructor
langchain-ollama
ollama~=0.4.8
duckduckgo-search
pandas~=2.2.3
jupyter
dotenv~=0.9.9
langfuse
litellm~=1.68.0
openlit~=1.33.20
fastapi~=0.115.12

duckduckgo_search~=8.0.1
Flask~=3.1.0
PyYAML~=6.0.2
python-dotenv~=1.1.0
duckduckgo_search~=8.0.1
pydantic~=2.11.4