argparse
beautifulsoup4
crewai
crewai[tools]
dotenv
duckduckgo-search
embedchain
fastapi
ibm-cos-sdk-core
instructor
jupyter
langchain
langchain-community
langchain-ibm
langchain-ollama
langfuse
litellm
ollama
openlit
pandas
posthog
requests
