crewai
crewai[tools]
beautifulsoup4
embedchain
posthog
langchain
langchain-community
argparse
langchain-ibm
requests
ibm-cos-sdk-core
instructor
langchain-ollama
ollama
duckduckgo-search
pandas
jupyter
dotenv
langfuse
litellm
openlit
fastapi
